h2 {font-size:60px;}
h3 {font-size:50px;
color:red;}
body{
    background-color: pink;
}
td{
    font-size: 20px;
    margin:20px;
    padding:10px;
}
input{
    font-size:20px;
}
button{
    background-color:pink;
    border-radius:20px;
    color:red;
    border:2px solid red;
    font-size:30px;
}